*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
h3{
    cursor: none;
    color: rgb(4, 0, 255);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.616);
}
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,aqua 20%,blue 80%);
    /* animation: bgcolor 5s infinite linear; */
}
@keyframes bgcolor {
    0%,100%{background:linear-gradient(45deg,aqua 20%,rgb(72, 255, 0) 80%);}
    50%{background:linear-gradient(45deg,rgb(17, 0, 255) 20%,rgb(255, 0, 255) 80%);}
}
.container #add{
    background: rgba(59, 73, 138, 0.445);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 10px;
    left: 90%;
    cursor: pointer;
}

.tool{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    background-color: rgba(255, 208, 0, 0.932);
}
section #create,#del{
    margin-left: 10px;
    cursor: pointer;
}

#todo{
    font-size:1rem;
    height: 221px;
    width: 231px;
    resize: none;
    box-shadow: 3px 3px 8px rgb(91 91 94 / 44%);
}
#todo{
    border:1px solid yellow;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
}
#todo:read-only{
    color:rgb(0, 204, 255);
}
#todo:read-write{
    color:rgb(0, 0, 0);
}
#todo:focus{
    border: none;
    outline: none;
}
.note {
    border: 1px solid yellow;
    padding: 2px;
    margin-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    height: 221px;
    width: 231px;
    resize: none;
}